<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>

		<figure class="fourth">
			<a href="{{ site.url }}{{ site.baseurl }}/">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/NP-Sheffield_Logo.png" class="logo-img">
			</a>
		  </figure>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		  <li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		  <li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		  <li><a href="{{ site.url }}{{ site.baseurl }}/consulting" style="color: #337ab7; font-weight: bold;">Consulting</a></li>
		  <li><a href="{{ site.url }}{{ site.baseurl }}/speaking" style="color: #337ab7; font-weight: bold;">Speaking</a></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			  <span class="glyphicon glyphicon-menu-hamburger"></span>
			</a>
			<ul class="dropdown-menu">
			  <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
			  <li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
			  <li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
			  <li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
			  <li><a href="{{ site.url }}{{ site.baseurl }}/consulting">Consulting</a></li>
			  <li><a href="{{ site.url }}{{ site.baseurl }}/speaking">Speaking</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
</nav>
